.clear:hover, .paste:hover, .function:hover, .function-click {
    background-color: rgb(203, 203, 203);
    color: black;
}

.digit:hover, .digit-click{
    background-color: rgb(232, 232, 232);
    color: rgb(79, 79, 79);
}

.operator:hover, .operator-click{
    background-color: rgb(91, 91, 91);
    color: rgb(233, 233, 233);
}