body {
    font-family: Arial;
    font-size: 16px;
    margin: 0;
}

.header-tag{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 10px;
}

.description-tag{
    color: rgb(169, 169, 169);
    font-weight: bold;
}


.operator-info, .function-info{
    display: grid;
    grid-template-columns: 100px 150px 200px 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding: 15px;
}

.tip-box{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    padding: 15px; 
}